@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

.back-first {
  height: 50%;
  /* width: 100vw;    */
  background: url("./assets/landing.jpg") no-repeat center/cover;
  background-position: 0% 25%;
}

.sign-landing {
  height: 50%;
  /* width: 100vw;    */
  background: url("./assets/sign.jpg") no-repeat center/cover;
  background-position: 0% 20%;
}

.leftview-sign {
  height: 50%;
  /* width: 100vw;    */
  background: url("./assets/signin.jpg") no-repeat center/cover;
  background-position: 0% 25%;
}

/* type-writer effect */
.anim-typewriter {
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 200ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 9.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* signin page  */
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px;
}

.img-sign {
  height: 100vh;
  width: 100%;
}

.login-form {
  background: #008b8b;
}

.form-group {
  color: aliceblue;
  padding: 10px;
}

.login-font {
  color: aliceblue;
}

.form-input {
  color: black;
  margin: 10px;
  padding: 7px;
  border-radius: 25px;
}

.form-input-email {
  color: black;
  margin: 10px;
  padding: 7px;
  margin-left: 33px;
  border-radius: 25px;
}

.log-button {
  background: blanchedalmond;
  padding: 7px 15px;
  border-radius: 30%;
  margin-left: 30px;
  border-radius: 25px;
}

.log-button:hover {
  background-color: #f5ecf3;
  color: white;
  background: black;
}

/* media queries */
@media only screen and (max-width: 600px) {
  .column {
    display: flex;
    background: url("./assets/sign.jpg") no-repeat center/cover;
  }

  .form-input .form-input-email {
    color: black;
  }

  .sign-col-img {
    display: none;
  }
}
